<h1><%= @cocktail.name %></h1>
<%= link_to "Create doses", new_cocktail_dose_path(params[:id])%>
<ul style="list-style-type:none">
  <% @cocktail.doses.each do |dose| %>
  <li ><%= dose.description%> - <%= dose.ingredient.name%></li>
  
  <% end %>
</ul>
<%= link_to "Back", root_path%>